*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-color: rgb(46, 31, 20);
  font-family: sans-serif;

}

.container {
  width: 70%;
  margin: auto auto;
  border: .5px solid rgb(139, 114, 114);
  box-shadow: 4px 5px 4px;
  background-color: aliceblue;
}

.header {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(37, 39, 146);
  color: azure;
}

.img {
  width: 10%;
}

.parrafo {
  font-size: 18px;
  margin: 20px;
  line-height: 30px;
}

.parrafo h2, h3{
  color: rgb(37, 39, 146);
  box-shadow: 1px 1px 5px;
  text-align: center;
  border-radius: 5px;
}

footer {
  text-align: center;
  background-color: green;
  padding: 10px;
  color: white;
  font-size: 18px;
}

img {
  width: 100%;
}